<nz-card nzTitle="Quản lý Tag">
  <button nz-button nzType="primary" (click)="showCreateModal()">+ Thêm Tag</button>
  <nz-table [nzData]="tags" [nzLoading]="isLoading" [nzBordered]="true" class="mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên Tag</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tag of tags">
      <td>{{ tag.id }}</td>
      <td>{{ tag.name }}</td>
      <td>
        <a (click)="showEditModal(tag)">Sửa</a>
        <span class="mx-2">|</span>
        <a (click)="confirmDelete(tag)">Xoá</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<p style="color: red;">Test Tag: {{ currentTag.name }}</p>


<nz-modal ...>
  <div style="margin-top: 8px;">
    <label for="tagName">Tên Tag:</label>
    <input id="tagName" nz-input [(ngModel)]="currentTag.name" style="width: 100%; margin-top: 4px;" />
  </div>
</nz-modal>

