<div class="home-content">
  <div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [loading]="loading" [title]="title1" total="¥ 126,560" contentHeight="44px" [action]="action1"
               [footer]="footer1" contentClass="g2-card__fixed">
        <ng-template #title1>
          Today
        </ng-template>
        <ng-template #action1>
          <i nz-tooltip nz-icon nzType="info-circle" nzTooltipTitle="Indicator Description"></i>
        </ng-template>
        <trend flag="up" style="margin-right: 16px;">
          WoW Change
          <span>12%</span>
        </trend>
        <trend flag="down">
          DoD Change
          <span>11%</span>
        </trend>
        <ng-template #footer1>
          <p class="w-overhide">
            Daily Sales
            <span>$ 12,423</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [loading]="loading" [title]="title2" total="12,900" contentHeight="44px" [action]="action2"
               [footer]="footer2">
        <ng-template #title2>
          Last 7 days
        </ng-template>
        <ng-template #action2>
          <i nz-tooltip nz-icon nzType="info-circle" nzTooltipTitle="Indicator Description"></i>
        </ng-template>
        <g2-mini-area *ngIf="visitData" color="#975FE4" [height]="46" [data]="visitData"
                      class="g2-card__chartfixed"></g2-mini-area>
        <ng-template #footer2>
          <p>
            Daily Visits
            <span>12,423</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [loading]="loading" [title]="title3" total="¥ 126,560" contentHeight="44px" [action]="action3"
               [footer]="footer3">
        <ng-template #title3>
          Last 30 days
        </ng-template>
        <ng-template #action3>
          <i nz-tooltip nz-icon nzType="info-circle" nzTooltipTitle="Indicator Description"></i>
        </ng-template>
        <g2-mini-bar *ngIf="visitData" [height]="46" [data]="visitData"
                     class="g2-card__chartfixed"></g2-mini-bar>
        <ng-template #footer3>
          <p class="w-overhide">
            Conversion Rate
            <span>80%</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [loading]="loading" [title]="title4" total="{{totalSalePrecent}}%" contentHeight="44px"
               [action]="action4" [footer]="footer4">
        <ng-template #title4>
          Total subscribers
        </ng-template>
        <ng-template #action4>
          <i nz-tooltip nz-icon nzType="info-circle" nzTooltipTitle="Indicator Description"></i>
        </ng-template>
        <g2-mini-progress height="46" [percent]="totalSalePrecent"
                          cls="g2-mini-progress g2-card__chart-progressfixed" [strokeWidth]="8" [target]="80"
                          color="#13C2C2"></g2-mini-progress>
        <ng-template #footer4>
          <p class="w-overhide">
            <trend flag="up" style="margin-right: 16px;">
              WoW Change
              <span>12%</span>
            </trend>
            <trend flag="down">
              DoD Change
              <span>11%</span>
            </trend>
          </p>
        </ng-template>
      </g2-card>
    </div>
  </div>
  <nz-card [nzLoading]="loading2" [nzBordered]="false" [ngClass]="{'ant-card__body-nopadding':!loading}">
    <nz-tabset nzSize="large" style="padding-left:16px;margin-bottom: 24px"
               (nzSelectChange)="saleTabChange($event)">
      <nz-tab nzTitle="Sales">
        <div nz-row [nzGutter]="24">
          <div nz-col nzXl="16" nzXs="24" nzSm="24" nzMd="24" nzLg="24">
            <div style="padding:16px">
              <h4><span>Trend Chart</span></h4>
              <g2-mini-bar [axis]="true" *ngIf="!loading2" [height]="254" [barWidth]="40"
                           [padding]="[32,32,32,50]" [data]="saleTrendData">
              </g2-mini-bar>
            </div>
          </div>
          <div nz-col nzXl="8" nzXs="24" nzSm="24" nzMd="24" nzLg="24">
            <div class="salesRank">
              <h4><span>Ranking</span></h4>
              <ul class="rankingList">
                <li><span class="rankingItemNumber active">1</span><span class="rankingItemTitle"
                                                                         title="Gongzhuan Road No. 0 Store">Gongzhuan Road No. 0 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber active">2</span><span class="rankingItemTitle"
                                                                         title="Gongzhuan Road No. 1 Store">Gongzhuan Road No. 1 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber active">3</span><span class="rankingItemTitle"
                                                                         title="Gongzhuan Road No. 2 Store">Gongzhuan Road No. 2 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">4</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 3 Store">Gongzhuan Road No. 3 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">5</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 4 Store">Gongzhuan Road No. 4 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">6</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 5 Store">Gongzhuan Road No. 5 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">7</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 6 Store">Gongzhuan Road No. 6 Store</span><span>323,234</span></li>
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Visits">
        <div nz-row [nzGutter]="24">
          <div nz-col nzXl="16" nzXs="24" nzSm="24" nzMd="24" nzLg="24">
            <div style="padding:16px;">
              <h4><span>Trend Chart</span></h4>
              <g2-mini-bar [axis]="true" *ngIf="!loading2" [height]="254" [barWidth]="40"
                           [padding]="[32,32,32,50]" [data]="saleTrendData">
              </g2-mini-bar>
            </div>
          </div>
          <div nz-col nzXl="8" nzXs="24" nzSm="24" nzMd="24" nzLg="24">
            <div class="salesRank">
              <h4><span>Ranking</span></h4>
              <ul class="rankingList">
                <li><span class="rankingItemNumber active">1</span><span class="rankingItemTitle"
                                                                         title="Gongzhuan Road No. 0 Store">Gongzhuan Road No. 0 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber active">2</span><span class="rankingItemTitle"
                                                                         title="Gongzhuan Road No. 1 Store">Gongzhuan Road No. 1 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber active">3</span><span class="rankingItemTitle"
                                                                         title="Gongzhuan Road No. 2 Store">Gongzhuan Road No. 2 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">4</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 3 Store">Gongzhuan Road No. 3 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">5</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 4 Store">Gongzhuan Road No. 4 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">6</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 5 Store">Gongzhuan Road No. 5 Store</span><span>323,234</span></li>
                <li><span class="rankingItemNumber ">7</span><span class="rankingItemTitle"
                                                                   title="Gongzhuan Road No. 6 Store">Gongzhuan Road No. 6 Store</span><span>323,234</span></li>
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
